@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #151515;
}

/* navbar styles */
.fitness-navbar{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px ;
    margin-bottom: 50px;
}

.color-orenge{
    color: #d84f3a;
    font-size: 30px;
}

.menu-bar{
    background-color: #191919;
    display: flex;
    align-items: center;
    border: 2px solid #3f3f3f;
    border-radius: 50px;
    padding: 3.5px 0;
    padding-left: 3.5px;
}

.menu-bar li{
    list-style: none;
    margin-right: 45px;
}

.menu-bar li a{
    text-decoration: none;
    color: #ffffff;
}

.home{
    background-color: #d84f3a;
    padding: 10px 30px;
    border-radius: 50px;
}

.ham-burger{
    color: #ffffff;
    display: none;
}

/* navbar Responsive */
@media screen and (max-width: 576px){
    .fitness-navbar{
                padding-top: 105px;
        margin-bottom: 110px;
    }

    .menu-bar{
        display: none;
    }

    .ham-burger{
        display: block;
        font-size: 110px;
        margin-right: 40px;
    }

    .color-orenge{
        font-size: 105px;
        margin-left: 40px;
    }
}


/* bannar section styles */
.text-img-container{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    margin-bottom: 80px;
}

.text-content{
    width: 50%;
    color: #ffffff;
    text-align: left;
}
.text-content h1{
   font-size: 85px;
   margin-bottom: 40px;
   line-height: 1;
   margin-top: 80px;
}

.google-font{
    font-family: "Dancing Script", cursive;
}

.text-content p{
   font-size: 13px;
   margin-bottom: 30px;
   line-height: 1.2;
   color: #999794;
}

.join-club{
    background-color: #d84f3a;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    margin-right: 5px;
}

.join-club a{
    text-decoration: none;
    color: #ffffff;
}
.download{
    background-color: #151515;
    color: #ffffff;
    padding: 15px 40px;
    border-radius: 50px;
    border: 2px solid #3f3f3f;
}

.download a{
    text-decoration: none;
    color: #ffffff;
}

.free, .tutorial{
    background-color: rgba(255, 255, 255, 0.1);
    width: 110px;
    padding: 20px;
    border-radius: 15px;
}

.picture{
    position: relative;
}

.free{
    position: absolute;
    right: 80px;
    top: 315px;
    z-index: 1;
}

.tutorial{
    display: flex;
    align-items: center;
    position: absolute;
    top: 572px;
    right: 401px;
}

.ellips{
    width: 30px;
    height: 30px;
    background-color: #d84f3a;
    border-radius: 50px;
    margin-right: 10px;
}

.free h1, p, .tutorial h1, p{
    color: #ffffff;
}

.free p, .tutorial p{
    font-size: 11px;
    color: #999794;
}

/* bannar section Responsive */
@media screen and (max-width: 576px){
    .text-img-container{
        flex-direction: column;
        margin-left: 40px;
        display: block;
    }

    .text-content{
        width: 100%;
    }

    .img-content{
        width: 100%;
    }
    .text-content p{
        font-size: 50px;
        margin-right: 96px;
        margin-bottom: 50px ;
     }

    .text-content h1{
        font-size: 150px;  
     }
    .text-content h1{
        font-size: 150px;  
     }

    .join-club{
        padding: 30px 90px;
        margin-left: 40px;
    }

    .download{
        padding: 30px 90px;
        margin-left: 40px;
    }

    .join-club a{
        font-size: 40px;
    }

    .download a{
        font-size: 40px;
    }

    .picture{
        width: 955px;
        margin: 55px;
    }    

    .free{
        position: absolute;
        right: -721px;
        top: 1434px;
        width: 365px;
        padding: 35px;
    }

    .tutorial{
        position: absolute;
        top: 2033px;
        right: -200px;
        width: 364px;
        padding: 30px;
    }

    .free h1{
        font-size: 80px;
    }
    .free p{
        font-size: 40px;
    }

    .tutorial h1{
        font-size: 80px;
    }

    .tutorial p{
        font-size: 40px;
    }

    .ellips{
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }

}

/* change habits section styles */
.change-habits-container{
    width: 1060px;
    margin: 0 auto;
}

.habit-text{
    text-align: center;
}

.habit-text h1{
    font-size: 50px;
    color: #ffffff;
    margin-bottom: 20px;
}
.habit-text p{
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #999794;
}

.change-img{
    width: 187px;
}

.change-img img{
    border: 2px solid #999794;
    border-radius: 50%;
}

.change-img h4, p{
    text-align: center;
}
.change-img h4{
    color: #ffffff;
    margin: 12px 0;
}
.change-img p{
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #999794;
}

.habit-contant{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

/* change habits section Responsive */
@media screen and (max-width: 576px){
    .habit-contant{
        flex-direction: column;
        
    }

    .change-img img{
        width: 740px;
        margin: 0 178px
    }

    .change-img{
        width: 100%;
    }

    .habit-text h1{
        font-size: 100px;
    }
    .habit-text p{
        font-size: 52px;
    }

    .change-img h4{
        font-size: 55px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .change-img p{
        font-size: 38px;
        margin-bottom: 110px;
    }
    
}

/* run section styles */
.run-container{
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 80px;
    border-radius: 30px;
    margin-bottom: 50px;
    margin-top: 80px;
}

.run-text h1{
    font-size: 48px;
    color: #ffffff;
}
.run-text p{
    font-size: 13px;
    margin-bottom: 30px;
    line-height: 1.2;
    color: #999794;
    text-align: left;
    margin-top: 30px;
}

.run-img img{
    width: 450px;
    border-radius: 30px;
}

.run-text button{
    padding: 15px 35px;
    background-color: #d84f3a;
    border-radius: 50px;
    border: none;
}
.run-text button a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
}

/* Run section Responsiv */
@media screen and (max-width: 576px){
    .run-container{
        width: 850px;
        flex-direction: column;
        margin-left: 78px;
    }

    .run-text{
        width: 100%;
    }

    .run-text h1 {
        font-size: 90px;
    }

    .run-text p{
        font-size: 32px;
    }

    .run-text button{
        padding: 36px 302px;
        border-radius: 100px;
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .run-text button a{
        font-size: 58px;
    }

    .run-img img{
        width: 855px;
    }
}

/* bmi-calculator styles */

.bmi-text{
    margin-top: 80px;
}
.bmi-text h1{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.bmi-calculator-container{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 40px;
    margin-bottom: 80px;
}

.bmi-text p{
    color: #999794;
    font-size: 15px;
    text-align: center;
}

.bmi-content{
    width: 1100px;
    margin: 0 auto;
    padding: 50px;
    line-height: 1.5;
    color: #999794;
    display: flex;
    justify-content: space-between;
}

.bmi-chart h1{
    color: #ffffff;
}

.bmi-chart table{
    width: 400px;
    text-align: left;
    /* padding: 20px; */
   
}    

.bmi-chart table,  th, td{
    border-collapse: collapse;
    border: 2px solid #373737;
}

.bmi-chart table tr th, td{
   padding: 5px 10px;
}

.bmi-chart table tr th, td{
   padding: 5px 15px;
}

.bmi-chart table tr th{
   color: #ffffff;
}

.calculate-bmi h1, p {
    text-align: left;
    color: #ffffff;
}

    
